body, html {
	height: 100%;
	margin: 0;
	min-width: 400px;
}

.container-test {
	height: 100%
}

/* START OF INDEX.HTML CSS*/
/* USED FOR SMALLER TEXT ABOVE NAV BAR*/
.top-contact-cust {
	float: right;
	font-size: smaller;
}

.top-contact-cust a {
	padding-left: 10px;
	padding-right: 15px;
	color: black;
}

/* USED FOR NAVBAR CONTAINMENT ---------------1---------------*/
.navbar {
	min-width: 400px;
}

#guild-icon {
	width: 250px;
}

.nav-item {
	border-top: solid 3px transparent;
}

.nav-item.active {
	border-top: solid 3px black;
}

.nav-item:hover {
	border-top: solid 3px grey;
}


/* USED FOR BANNER AND MAIN BODY --------------2--------------*/
.container-full-cust {
	background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("img/DoV_TravelBanner.jpg");
	background-position: right top;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 50%;
}

.container-body-cust {
	height: 100%;
	margin-left: 22%;
	margin-right: 22%;
}

.banner {
	width: 100%;
}

.statement {
	float: right;
	margin-right: 22%;
	margin-top: 5%;
	width: 25%;
	min-width: 500px;
	color: white;
}

.statement-list {
	list-style-type: none;
	padding-left: 0;
	color: white;
	font-weight: bolder;
	font-size: 150%;
}

#home-icon {
	width: 40px;
	height: 40px;
}

.ending {
	list-style-type: none;
	padding-left: 0;
	font-weight: bold;
}

#fodder-dec {
	text-decoration: underline;
}

.btn-grp-cust a{
	display: inline-block;
}

.btn-discord-cust {
	background: linear-gradient(180deg, #204161, #282941);
	color: white;
	width: 200px;
	border: none;
}

.btn-discord-cust:hover {
	background: linear-gradient(180deg, #8c9ffe, #204161);
}

.btn-download-cust {
	background: linear-gradient(180deg, #aa1817, #3e1209);
	color: white;
	border: none;
	float: right;
}

.btn-download-cust:hover {
	background: linear-gradient(180deg, #d6230c,  #8c1312);
}

.btn:focus,
.btn:active {
	box-shadow: none !important;
	outline: 0px !important;
}

.spacer-cust {
	background-color: #484848;
	height: 30px;
	color: white;
}

.spacer-cust i {
	font-size: smaller;
	float: right;
	margin-right: 39.2%;
}

/* BLOCK INFORMATION FOR TABS IN INFO BLOCK */
.information-block-cust {
	width: 25%;
	min-width: 450px;
	height: 45%;
	position: absolute;
	top: 28%;
	left: 24%;
}

.information-title {
	color: white;
}

.btn-group {
	width: 100%;
}

.btn-group-justified .btn {
	border-radius: 4px 4px 0 0;
}

.select {
	background: linear-gradient(180deg, #aa1817, #3e1209);
	border: none;
	color: white;
}

.select:hover {
	background: linear-gradient(180deg, #d6230c,  #8c1312);
	color: white !important;
}

.select.active {
	background: linear-gradient(180deg, #d6230c, #8c1312);
	color: white !important;
}


.selected {
	height: 100%;
	color: white;
	background-color: lightgrey;
	border-radius: 0 0 4px 4px;
	overflow: hidden;
}

.size {
	width: 30px;
}

.guild-tag {
	display: inline-block;
	color: black;
}

.option {
	height: 100%;
	width: 100%;
}

.seperator {
	height: 10%;
}

/* START OF CAROUSEL */

.carousel-item img {
	border-radius: 4px;
}

/* end of carousel */

footer {
	width: 100%;
	background-color: #484848;
	height: 50px;
	text-align: center;
	padding: 15px;

}

footer a {
	margin-top: 15px;
	color: white;
}

/* INDEX.HTML MEDIA ONLY BELOW */

@media only screen and (min-width: 1200px) {
	.top-contact-cust {
		margin-right: 15%;
	}
}

@media only screen and (min-width: 1350px) {
	.navbar {
 		margin-left: 15%;
		margin-right: 15%;
	}
}

@media only screen and (max-width: 1680px) {
	.information-block-cust {
 		left: 15%;
 		height: 38%;
	}
}

@media only screen and (max-width: 1510px) {
	.container-full-cust {
		min-height: ;
		padding: 10px;
		overflow: hidden;
	}
	
	.statement {
		float: none;
		position: relative;
		min-width:400px;
		width: 50%;
		height: 100%;
	}


	.information-block-cust {
		width: 100%;
		height: ;
		position: none;
		top: 0;
		left: 0;
		min-width: 0;
	}

	.information-title {
		color: black;
	}

	.spacer-cust i{
		margin: 0;
		float: none;
	}

	.spacer-cust {
		text-align: center;
	}

	.container {
		position: relative;
	}

	.seperator {
		height: 8%;
	}
}

@media only screen and (max-width: 411px) {
	.seperator{
		height: 10%;
	}
}

@media only screen and (max-width: 1679px) {
	.btn-group-cust button {
		margin-top: 10px;
		width: 100%;
	}

	.container-full-cust {
		min-height: 550px;
	}
}

/* END OF INDEX.HTML CSS */

/* START OF TREASURY.HTML CSS */

.blocker {
	visibility: hidden;
}

.banner-treasury {
	background-image: url("img/spawn.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 50%;
}

.treasury-header-cust {
	margin-top: 20px;
	border-bottom: solid 3px #aa1817;
	padding-bottom: 3px;
}

.card {
	display: inline-block;
	margin: 5px;
	box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.6); 
	border: 1px solid black;
}

.cust-card:hover {
	opacity: .7;
	cursor: pointer;
	transition: opacity .25s ease-in-out;
}

.cust-card {
}

.card-img-top {
	height: 45px;
	width: 45px;
	padding: 0px;
}

.card-text {
	font-size: x-small;
	padding: 0px;
	color: white;
	overflow: hidden;
}

.card-body {
	padding: 0px;
}

.upgrade-block {
	padding-bottom: 20px;
	margin: 10px;
	display: inline-block;
	border-radius: 5px 0px 0px 0px !important;
}

.upgrade-title-cust {
	padding-bottom: 10px;
	position: relative;
	background-color: #1e1e1e;
	width: 100%;
	height: 50px;
	color: white;
	padding-right: 10px;
	border-radius: 5px 5px 0px 0px;
	overflow: hidden;
}

.ready {
	background-color: darkgreen;
	padding-right: 20px;
}


.not-ready {
	background-color: darkred;
	padding-right: 20px;
}

#space-head-cust {
	padding-left: 10px;
}

.remainder {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 0;
	margin: 0;
	font-weight: bold;
	color: white;
}

.remainder {
	background-color: rgba(0, 0, 0, .8);
	width: 102%;
}

#block-cust {
	text-align: center;
}
